{% extends "layout.html" %}
{% block title %}Oma sivu{% endblock %}
{% block content %}

<body>
    {% if session.username %}
    <form action="/create_recipe" method="POST" onsubmit="return checkinputs(this)">
        <table>
            <tr>
                <td><label for="new_recipe"></label>Luo uusi resepti:</td>
                <td>
                    <input type="text" id="new_recipe" name="new_recipe" placeholder="Anna reseptille nimi.." required>
                </td>
            </tr>
            <tr>
                <td><label for="description"></label>Anna reseptille kuvaus (valinnainen):</td>
                <td>
                    <textarea id="description" name="description" rows="5" cols="50"></textarea>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">Listaa kaikki ruoka-aineet:</td>
                <td>
                    <table id="inputTable">
                        <thead>
                            <tr>
                                <th>Food ID</th>
                                <th>Paino, g</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="number" name="foodid[]" required /></td>
                                <td><input type="number" name="amount[]" required /></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button id="addRowButton">Lisää ruoka-aine</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <br><br>
                    <button type="submit">Tallenna</button>
                </td>
            </tr>
        </table>
    </form>

    <script>
        function checkinputs(form) {
            if (form.new_recipe.value.length < 1 || form.new_recipe.value.length > 100) {
                alert("Reseptin nimen sallittu pituus on 1-100 merkkiä");
                return false;
            }
            if (form.description.value.length > 2000) {
                alert("Kuvauksen sallittu pituus on 2000 merkkiä");
                return false;
            }
            return true;
        }</script>
    <script>
        document.getElementById('addRowButton').addEventListener('click', function (event) {
            event.preventDefault();

            var table = document.getElementById('inputTable').getElementsByTagName('tbody')[0];
            var newRow = table.insertRow();

            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);
            var cell3 = newRow.insertCell(2);

            var newFoodIdInput = document.createElement('input');
            newFoodIdInput.type = 'number';
            newFoodIdInput.name = 'foodid[]';
            newFoodIdInput.required = true;

            var newAmountInput = document.createElement('input');
            newAmountInput.type = 'number';
            newAmountInput.name = 'amount[]';
            newAmountInput.required = true;

            var removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.className = 'removeRowButton';
            removeButton.textContent = 'Poista rivi';

            removeButton.addEventListener('click', function () {
                table.deleteRow(newRow.rowIndex - 1);
            });

            cell1.appendChild(newFoodIdInput);
            cell2.appendChild(newAmountInput);
            cell3.appendChild(removeButton);
        });


        document.querySelectorAll('.removeRowButton').forEach(function (button) {
            button.addEventListener('click', function () {
                var row = button.parentElement.parentElement;
                row.parentElement.removeChild(row);
            });
        });
    </script>


    <br>
    {% if error_message is not none %}
    <p style="color: red; font-style: italic;"> ERROR: {{ error_message }}</p>
    {% endif %}
    <hr>

    <head>
        <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    </head>

    <body>
        <p><br>Voit etsiä ruoka-aineita alla olevasta taulukosta
        </p>
        <div>
            <h3>Kaikki ruoka-aineet</h3>
            <hr>
            <div style="width: 100%; margin: 0 auto;" id="table"></div>
        </div>
        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
        <script>
            const updateUrl = (prev, query) => {
                return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
            };

            new gridjs.Grid({
                columns: [
                    { id: 'foodid', name: 'Food ID' },
                    { id: 'foodname', name: 'Food Name' },
                    { id: 'energia_laskennallinen', name: 'Energia, laskennallinen, KJ', sort: false },
                    { id: 'rasva', name: 'Rasva, g', sort: false },
                    { id: 'hiilihydraatti_imeytyva', name: 'Hiilihydraatti, imeytyvä, g', sort: false },
                    { id: 'proteiini', name: 'Proteiini, g', sort: false },
                    { id: 'kcal', name: 'kcal', sort: false }
                ],
                server: {
                    url: '/api/data',
                    then: results => results.data,
                    total: results => results.total,
                },
                search: {
                    enabled: true,
                    server: {
                        url: (prev, search) => {
                            return updateUrl(prev, { search });
                        },
                    },
                },
                sort: {
                    enabled: true,
                    multiColumn: true,
                    server: {
                        url: (prev, columns) => {
                            const columnIds = ['foodname', 'energia_laskennallinen', 'rasva', 'hiilihydraatti_imeytyvä', 'hiilihydraatti_erotuksena', 'proteiini', 'alkoholi', 'tuhka', 'vesi'];
                            const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
                            return updateUrl(prev, { sort });
                        },
                    },
                },
                pagination: {
                    enabled: true,
                    server: {
                        url: (prev, page, limit) => {
                            return updateUrl(prev, { start: page * limit, length: limit });
                        },
                    },
                },
                width: "90%",
            }).render(document.getElementById('table'));
        </script>
    </body>

    {% else %}
    <a href="/login">Kirjaudu sisään</a> luodaksesi reseptejä
    {% endif %}
</body>
{% endblock %}