{% extends "layout.html" %}
{% block title %}Oma sivu{% endblock %}
{% block content %}

<body>
    {% if session.username %}
    <form action="/create_recipe" method="POST">
        <table>
            <tr>
                <td><label for="new_recipe"></label>Luo uusi resepti:</td>
                <td>
                    <input type="text" id="new_recipe" name="new_recipe" placeholder="Anna reseptille nimi.." required>
                </td>
            </tr>
            <tr>
                <td><label for="description"></label>Anna reseptille kuvaus (valinnainen):</td>
                <td>
                    <textarea id="description" name="description" rows="5" cols="50"></textarea>
                </td>
            </tr>
            <tr>
                <td>Listaa kaikki ruoka-aineet:</td>
                <td>
                    <table id="inputTable">
                        <thead>
                            <tr>
                                <th>Food ID</th>
                                <th>Paino, g</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="number" name="foodid[]" /></td>
                                <td><input type="number" name="amount[]" /></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button id="addRowButton">Lisää ruoka-aine</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <br><br>
                    <button type="submit">Tallenna</button>
                </td>
            </tr>
        </table>


    </form>

    <script>
        document.getElementById('addRowButton').addEventListener('click', function (event) {
            event.preventDefault();

            var table = document.getElementById('inputTable');
            var newRow = table.insertRow();

            var cell1 = newRow.insertCell(0);
            var cell2 = newRow.insertCell(1);

            var newFoodIdInput = document.createElement('input');
            newFoodIdInput.type = 'number';
            newFoodIdInput.name = 'foodid[]';

            var newAmountInput = document.createElement('input');
            newAmountInput.type = 'number';
            newAmountInput.name = 'amount[]';

            cell1.appendChild(newFoodIdInput);
            cell2.appendChild(newAmountInput);
        });
    </script>

    <hr>

    <head>
        <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    </head>

    <body>
        <p><br>Voit etsiä ruoka-aineita alla olevasta taulukosta
        </p>
        <div>
            <h3>Kaikki ruoka-aineet</h3>
            <hr>
            <div style="width: 100%; margin: 0 auto;" id="table"></div>
        </div>
        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
        <script>
            const updateUrl = (prev, query) => {
                return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
            };

            new gridjs.Grid({
                columns: [
                    { id: 'foodid', name: 'Food ID' },
                    { id: 'foodname', name: 'Food Name' },
                    { id: 'energia_laskennallinen', name: 'Energia, laskennallinen, KJ', sort: false },
                    { id: 'rasva', name: 'Rasva, g', sort: false },
                    { id: 'hiilihydraatti_imeytyva', name: 'Hiilihydraatti, imeytyvä, g', sort: false },
                    //   { id: 'hiilihydraatti_erotuksena', name: 'Hiilihydraatti, erotuksena, g', sort: false },
                    { id: 'proteiini', name: 'Proteiini, g', sort: false },
                    //   { id: 'alkoholi', name: 'Alkoholi, g', sort: false  },
                    //  { id: 'tuhka', name: 'Tuhka, g', sort: false  },
                    //  { id: 'vesi', name: 'Vesi, g', sort: false },
                    { id: 'kcal', name: 'kcal', sort: false }
                ],
                server: {
                    url: '/api/data',
                    then: results => results.data,
                    total: results => results.total,
                },
                search: {
                    enabled: true,
                    server: {
                        url: (prev, search) => {
                            return updateUrl(prev, { search });
                        },
                    },
                },
                sort: {
                    enabled: true,
                    multiColumn: true,
                    server: {
                        url: (prev, columns) => {
                            const columnIds = ['foodname', 'energia_laskennallinen', 'rasva', 'hiilihydraatti_imeytyvä', 'hiilihydraatti_erotuksena', 'proteiini', 'alkoholi', 'tuhka', 'vesi'];
                            const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
                            return updateUrl(prev, { sort });
                        },
                    },
                },
                pagination: {
                    enabled: true,
                    server: {
                        url: (prev, page, limit) => {
                            return updateUrl(prev, { start: page * limit, length: limit });
                        },
                    },
                },
                width: "90%",
            }).render(document.getElementById('table'));
        </script>
    </body>

    {% else %}
    <a href="/login">Kirjaudu sisään</a> luodaksesi reseptejä
    {% endif %}
</body>
{% endblock %}