{% extends "layout.html" %}
{% block title %}{{ food_stats.foodname }}{% endblock %}
{% block content %}

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 50%;
        border: 1px solid #ddd;
    }

    th {
        background-color: rgb(185, 238, 244);
        text-align: left;
        padding: 7px;
    }
    td {
        text-align: left;
        padding: 7px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
<h4> {{ food_stats.foodname }}</h4>
<table>
    <tr>
        <th>Perusravintoaineet</th>
        <th></th>
    </tr>
    <tr>
        <td>energia, laskennallinen</td>
        <td>{{ food_stats.energia_laskennallinen }} kJ ({{ food_stats.kcal }} kcal)</td>
    </tr>
    <tr>
        <td>rasva</td>
        <td>{{ food_stats.rasva }} g</td>
    </tr>
    <tr>
        <td>hiilihydraatti, imeytyva</td>
        <td>{{ food_stats.hiilihydraatti_imeytyva }} g</td>
    </tr>
    <tr>
        <td>proteiini</td>
        <td>{{ food_stats.proteiini }} g</td>
    </tr>
    <tr>
        <td>alkoholi</td>
        <td>{{ food_stats.alkoholi }}</td>
    </tr>
    <tr>
        <td>tuhka</td>
        <td>{{ food_stats.tuhka }} g</td>
    </tr>
    <tr>
        <td>vesi</td>
        <td>{{ food_stats.vesi }} g</td>
</table>
<br><br>
{% if session.username %}
{% if fav_food_added %}
<a href="/delete_fav_food/{{ food_stats.foodid }}"
    onclick="return confirm('Haluatko varmasti poistaa ruuan suosikeistasi?');">
    <button>Poista ruoka suosikeistasi</button>
</a>
{% else %}
<form action="/foodpage/{{ food_stats.foodid }}/add_fav_food" method="POST">
    <input type="submit" value="Lisää suosikeiksi">
</form>
{% endif %}
{% else %}
<p>Kirjaudu sisään lisätäksesi ruoka suosikiksi</p>
{% endif %}
{% endblock %}