{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

{% if session.username %}
{% include 'my_fav_foods.html' %}
<br>
<hr>
{% include 'my_recipes.html' %}
<br>
{% else %}
<p>Kirjautumalla sisään voit lisätä ruoka-aineita suosikeiksi ja luoda reseptejä</p>
{% endif %}

<head>
  <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
</head>

<body>
  <div>
    <hr>
    <h3>Kaikki ruoka-aineet</h3>

    <div style="width: 100%; margin: 0 auto;" id="table"></div>
  </div>
  <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
  <script>
    const updateUrl = (prev, query) => {
      return prev + (prev.indexOf('?') >= 0 ? '&' : '?') + new URLSearchParams(query).toString();
    };

    new gridjs.Grid({
      columns: [
        {
          id: 'foodid', name: 'Food ID', formatter: (cell) => {
            return gridjs.html('<a href="/foodpage/' + cell + '">' + cell + '</a>');
          }
        },
        { id: 'foodname', name: 'Food Name' },
        { id: 'energia_laskennallinen', name: 'Energia, laskennallinen, KJ', sort: true },
        { id: 'rasva', name: 'Rasva, g', sort: true },
        { id: 'hiilihydraatti_imeytyva', name: 'Hiilihydraatti, imeytyvä, g', sort: true },
        { id: 'proteiini', name: 'Proteiini, g', sort: true },
        { id: 'kcal', name: 'kcal', sort: true }
      ],
      server: {
        url: '/api/data',
        then: results => results.data,
        total: results => results.total,
      },
      search: {
        enabled: true,
        server: {
          url: (prev, search) => {
            return updateUrl(prev, { search });
          },
        },
      },
      sort: {
        enabled: true,
        multiColumn: true,
        server: {
          url: (prev, columns) => {
            const columnIds = ['foodid','foodname', 'energia_laskennallinen', 'rasva', 'hiilihydraatti_imeytyva', 'proteiini', 'kcal'];
            const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
            return updateUrl(prev, { sort });
          },
        },
      },
      pagination: {
        enabled: true,
        server: {
          url: (prev, page, limit) => {
            return updateUrl(prev, { start: page * limit, length: limit });
          },
        },
      },
      width: "90%",
    }).render(document.getElementById('table'));
  </script>
</body>


{% endblock %}