<style>
    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 50%;
      border: 1px solid #ddd;
    }
    
    th {
        background-color: rgb(185, 238, 244);
        text-align: left;
        padding: 7px;
    }
    td {
      text-align: left;
      padding: 7px;
    }
    
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    </style>

<h3>Omat suosikkiruuat</h3>
<div>
    <table>
        <thead>
            <tr>
                <th>Food ID</th>
                <th>Food Name</th>
                <th>Energia, laskennallinen, KJ</th>
                <th>kcal</th>
                <th>Rasva, g</th>
                <th>Hiilihydraatti, imeytyvä, g</th>
                <th>Proteiini, g</th>
                <th>Poista ruoka suosikeista</th>
            </tr>
        </thead>
        <tbody>
            {% for row in fav_food_rows %}
            <tr>
                <td><a href="/foodpage/{{ row.foodid }}">{{ row.foodid }}</td>
                <td>{{ row.foodname }}</td>
                <td>{{ row.energia_laskennallinen }}</td>
                <td>{{ row.kcal }}</td>
                <td>{{ row.rasva }}</td>
                <td>{{ row.hiilihydraatti_imeytyva }}</td>
                <td>{{ row.proteiini }}</td>
                <td><a href="/delete_fav_food/{{ row.foodid }}"
                    onclick="return confirm('Haluatko varmasti poistaa ruuan suosikeistasi?');">
                    <button>Poista ruoka</button>
                </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
