<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 50%;
        border: 1px solid #ddd;
    }

    th {
        background-color: rgb(185, 238, 244);
        text-align: left;
        padding: 7px;
    }

    td {
        text-align: left;
        padding: 7px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<h3>Omat reseptit</h3>
<div>
    <table>
        <thead>
            <tr>
                <th>Reseptin ID</th>
                <th>Nimi</th>
                <th>Kuvaus</th>
                <th>Luotu</th>
                <th>Energia yhteensä, kJ</th>
                <th>kcal</th>
                <th>Hiilihydraatti yhteensä, g</th>
                <th>Rasva yhteensä, g</th>
                <th>Proteiini yhteensä, g</th>
                <th>Poista resepti</th>
            </tr>
        </thead>
        <tbody>
            {% for row in my_recipe_rows %}
            <tr>
                <td><a href="/recipepage/{{ row.recipeid }}">{{ row.recipeid }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.description }}</td>
                <td>{{ row.created_ts }}</td>
                <td>{{ row.energia_laskennallinen }}</td>
                <td>{{ row.kcal }}</td>
                <td>{{ row.hiilihydraatti_imeytyva }}</td>
                <td>{{ row.rasva }}</td>
                <td>{{ row.proteiini }}</td>
                <td>
                    <form method="POST" action="/delete_recipe/{{ row.recipeid }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button type="submit"
                            onclick="return confirm('Haluatko varmasti poistaa reseptin: {{ row.name }}?');">Poista</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <br>
    <a href="/create_recipe"><button>Lisää uusi resepti</button></a>
</div>